.cvitem{
    margin: 2em 0;
    line-height: 1em;
}

.cvtitle {
    margin-bottom: 0.5em;
    line-height: 1.2em;
    font-weight: bold;
    color: black;
}
  
.cvtime {
    margin: 2em 0;
    line-height: 1em;
}

.cvthesis {
    margin-bottom: 0.5em;
    line-height: 1.2em;
    font-weight: bold;
    color: black;
}

.cvadvisor {
    font-size: 75%;
    margin-bottom: 0.75em;
}

