.cvitem{
    margin: 2em 0;
    line-height: 1em;
}

.cvtitle {
    margin-bottom: 0.5em;
    line-height: 1em;
    font-weight: bold;
    color: black;
}
  
.cvtime {
    margin: 1em 0;
    line-height: 1em;
}

.cvinstitute {
    margin: 1em 0;
    font-weight: 550;
    line-height: 1em;
}

.cvthesis {
    font-size: 105%;
    margin-bottom: 0.5em;
    line-height: 1em;
    font-weight: 550;
    color: black;
}

.cvadvisor {
    font-size: 90%;
    margin-bottom: 0.75em;
}

